@font-face {
	font-family: "SaolDisplay-LightItalic";
	src: url("../fonts/c0de8fb6038e76e28f87f58c819bbda8.eot"); /* IE9*/
	src: url("../fonts/c0de8fb6038e76e28f87f58c819bbda8.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/c0de8fb6038e76e28f87f58c819bbda8.woff2")
			format("woff2"),
		/* chrome、firefox */ url("../fonts/c0de8fb6038e76e28f87f58c819bbda8.woff")
			format("woff"),
		/* chrome、firefox */ url("../fonts/c0de8fb6038e76e28f87f58c819bbda8.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/c0de8fb6038e76e28f87f58c819bbda8.svg#SaolDisplay-LightItalic")
			format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "HelveticaNeueCyr-Light";
	src: url("../fonts/005854e464de62dd7c3c7b169055c28e.eot"); /* IE9*/
	src: url("../fonts/005854e464de62dd7c3c7b169055c28e.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/005854e464de62dd7c3c7b169055c28e.woff2")
			format("woff2"),
		/* chrome、firefox */ url("../fonts/005854e464de62dd7c3c7b169055c28e.woff")
			format("woff"),
		/* chrome、firefox */ url("../fonts/005854e464de62dd7c3c7b169055c28e.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/005854e464de62dd7c3c7b169055c28e.svg#HelveticaNeueCyr-Light")
			format("svg"); /* iOS 4.1- */
}
