@import "_fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$main_color: #000;
$primary_color: #212528;
$main_font: "HelveticaNeueCyr-Light", serif;
$primary_font: "SaolDisplay-LightItalic", serif;

html {
	scroll-behavior: smooth;
	cursor: none;
}

html a {
	cursor: none;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 101;

	&_text {
		font-family: $main_font;
		font-size: 28px;
		font-style: normal;
		font-weight: normal;
		line-height: 100%;
		text-transform: uppercase;
		color: $primary_color;
	}
}

.wrapper {
	width: 1600px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.container {
	width: 1430px;
	max-width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
}
.cursor {
	position: fixed;
	background-color: $main_color;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: scale(1);

	&.active {
		opacity: 1;
		transform: scale(0);
	}

	&.active_img {
		opacity: 1;
		background-color: #fff;
	}

	&.menu-active {
		opacity: 1;
		transform: scale(0);
	}

	&.hovered {
		opacity: 1;
	}
}

.cursor-follower {
	position: fixed;
	border: 1px solid $primary_color;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
		0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: translate(2px, 2px);
	//overflow: hidden;

	&.active {
		opacity: 1;
		transform: scale(1.5);
	}

	&.active_img {
		opacity: 1;
		transform: scale(1.5);
		border-color: #fff;
	}

	&.menu-active {
		opacity: 1;
		transform: scale(1.5);
	}

	&.hovered {
		opacity: 1;
	}
}
// HEADER START

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	margin-bottom: 250px;

	& .menu {
		margin-bottom: 150px;

		& .nav {
			list-style: none;
			display: flex;
			justify-content: space-around;

			&_item {
				margin-right: 50px;
			}
			&_item:last-child {
				margin-right: 0;
			}

			&_link {
				position: relative;
				font-family: $main_font;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				text-transform: uppercase;
				color: $primary_color;
				text-decoration: none;
			}

			// &_link::before {
			// 	content: "";
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 1px;
			// 	background: $primary_color;
			// 	top: 100%;
			// 	left: 0;
			// 	pointer-events: none;
			// 	transform-origin: 100% 50%;
			// 	transform: scale3d(0, 1, 1);
			// 	transition: transform 0.3s;
			// }
			// &_link:hover::before {
			// 	transform-origin: 0% 50%;
			// 	transform: scale3d(1, 1, 1);
			// }
		}
	}

	& .mobile_menu {
		position: relative;
		display: none;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 0 10px;
		margin-bottom: 100px;

		& .link {
			font-family: $main_font;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 100%;
			text-decoration: none;
			text-transform: uppercase;
			position: relative;
			color: $primary_color;
			padding-bottom: 3px;
		}

		& .link::before {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: $primary_color;
		}

		& .burger_btn {
			position: relative;
			padding-right: 20px;
			height: 8px;
		}

		& .burger_btn::after {
			content: "";
			position: absolute;
			width: 40px;
			height: 2px;
			background-color: $main_color;
			right: 0;
			top: 0;
		}

		& .burger_btn::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 2px;
			background-color: $main_color;
			right: 0;
			bottom: 0;
		}
	}

	& .mobile_nav {
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: -100%;
		left: 0;
		padding: 150px 0;
		background-color: #fff;
		z-index: 4;

		& .close_menu {
			position: absolute;
			top: 30px;
			right: 40px;
		}

		& .close_menu::after {
			content: "";
			position: absolute;
			width: 30px;
			height: 2px;
			top: 0;
			transform: rotate(-45deg);
			background-color: $main_color;
		}

		& .close_menu::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 2px;
			top: 0;
			transform: rotate(45deg);
			background-color: $main_color;
		}

		& ul {
			text-align: center;
			list-style: none;
		}

		&-item {
			margin-bottom: 30px;
		}

		&-link {
			font-family: $primary_font;
			font-style: italic;
			font-weight: normal;
			font-size: 30px;
			line-height: 120%;
			text-decoration: none;
			color: $primary_color;
		}
	}

	& .main {
		position: relative;
		width: 783px;
		margin: 0 auto;
		text-align: center;
		&_title-one {
			font-family: $primary_font;
			font-weight: normal;
			font-size: 170px;
			line-height: 80%;
			text-align: center;
			color: #000000;
			overflow: hidden;

			// .word {
			// 	overflow: hidden;
			// }
		}

		&_caption {
			position: relative;
			width: 370px;
			margin: -30px auto 0 auto;

			& .main_img {
				position: relative;
				width: 330px;
				margin: 0 auto;
				overflow: hidden;
				visibility: hidden;

				& .img_overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #fff;
					z-index: 1;
				}

				& img {
					width: 100%;
					object-fit: cover;
				}
			}
			& p {
				position: relative;
				font-family: $main_font;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				text-align: center;
				text-transform: uppercase;
				color: $main_color;
				margin-top: 10px;
			}

			& p:last-child {
				margin-top: 5px;
			}
		}

		&_title-two {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: $main_font;
			font-style: normal;
			font-weight: bold;
			font-size: 150px;
			line-height: 80%;
			text-align: center;
			text-transform: uppercase;
			color: $main_color;

			& .word {
				// overflow: hidden;
				display: flex;
			}
		}
	}
}

// HEADER END

// PROJECTS START

.projects {
	position: relative;
	height: auto;

	& .project_block {
		position: relative;
		display: flex;
		margin-bottom: 150px;

		& .block_left {
			width: 50%;
			margin-right: 50px;

			& .block_img {
				width: 100%;
				position: relative;
				overflow: hidden;
				visibility: hidden;

				& .img_overlay {
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: #fff;
					z-index: 2;
				}

				& img {
					width: 100%;
					object-fit: cover;
					transform: scale(1);
					transition: 0.5s ease;
				}

				& img:hover {
					transform: scale(1.2) !important;
				}
			}
		}

		& .block_right {
			width: 50%;
			margin-left: 50px;
			padding-top: 270px;

			& .block_img {
				width: 100%;
				overflow: hidden;
				visibility: hidden;

				& .img_overlay {
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: #fff;
					z-index: 2;
				}

				& img {
					width: 100%;
					object-fit: cover;
					transform: scale(1);
					transition: 0.5s ease;
				}
				& img:hover {
					transform: scale(1.2) !important;
				}
			}

			& .block_title {
				text-align: right;
			}
		}
	}

	& .project_block:last-child {
		margin-bottom: 0;
	}

	& .single_project {
		position: relative;
		height: auto;
		margin-bottom: 150px;

		& .block_img {
			width: 100%;
			overflow: hidden;
			visibility: hidden;

			& .img_overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 2;
			}

			& img {
				width: 100%;
				object-fit: cover;
				transform: scale(1);
				transition: 0.5s ease;
			}
			& img:hover {
				transform: scale(1.2) !important;
			}
		}
	}

	& .block_title p {
		font-family: $main_font;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 100%;
		text-transform: uppercase;
		color: $main_color;
		overflow: hidden;
		margin: 7px 0;
		opacity: 0;
	}
}

// PROJECTS END

// QUOTE START

.quote {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 250px 0;
	padding-top: 120px;
	text-align: center;

	&_text {
		font-family: $main_font;
		font-style: italic;
		font-weight: 550;
		font-size: 13px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 30px;
	}

	&_title {
		font-family: $main_font;
		font-style: normal;
		font-weight: 300;
		font-size: 95px;
		line-height: 100%;
		text-align: center;
		color: #ffffff;
		margin-bottom: 30px;

		.word {
			overflow: hidden;
		}

		& span {
			font-family: $primary_font;
		}
	}

	& a {
		position: relative;
		text-decoration: none;
		padding-bottom: 3px;
	}

	& a::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #fff;
		bottom: 0;
	}
}

// QUOTE END

// ABOUT START

.about {
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
	margin-bottom: 250px;

	&_left {
		width: 62%;
		padding: 109px 0;
	}

	&_right {
		position: relative;
		width: 38%;

		& .block_img {
			width: 100%;
			overflow: hidden;
			visibility: hidden;

			& .img_overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 2;
			}

			& img {
				width: 100%;
				object-fit: cover;
			}
		}

		& .about_img {
			position: absolute;
			bottom: 15%;
			left: -25%;
			overflow: hidden;
			visibility: hidden;

			& .img_overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 2;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&_title {
		width: 78%;
		margin-bottom: 37px;
	}

	&_title h1 {
		font-family: $main_font;
		font-style: italic;
		font-weight: normal;
		font-size: 40px;
		line-height: 115%;
		color: $primary_color;
		overflow: hidden;
		// .word {
		// 	overflow: hidden;
		// }

		& spann {
			font-family: $primary_font;
		}
	}

	&_text {
		width: 78%;
		padding-left: 100px;
	}

	&_text p {
		font-family: $main_font;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 125%;
		color: $primary_color;
		margin-bottom: 22px;
		overflow: hidden;
	}
}

// ABOUT END

// CONTACT START

.contact {
	position: relative;
	height: auto;
	margin-bottom: 200px;
	text-align: center;

	&_title {
		font-family: $main_font;
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		line-height: 110%;
		position: relative;
		color: $main_color;
		margin-bottom: 50px;
		padding-bottom: 200px;

		& spann {
			font-family: $primary_font;
		}

		// .word {
		// 	overflow: hidden;
		// }
	}

	&_title::before {
		content: "";
		position: absolute;
		width: 1px;
		height: 140px;
		left: 50%;
		bottom: 0;
		background-color: $main_color;
		transform: rotate(20deg);
	}

	& a {
		font-family: $main_font;
		font-style: italic;
		font-weight: 300;
		font-size: 30px;
		line-height: 30px;
		text-decoration-line: underline;
		color: $main_color;
		position: relative;
		text-decoration: none;
		padding-bottom: 3px;
	}

	& a::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $main_color;
		bottom: 0;
	}
}

// CONTACT END

// FOOTER START

.footer {
	position: relative;
	height: auto;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&_copy p {
		font-family: $main_font;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 100%;
		text-transform: uppercase;
		color: $primary_color;
	}

	&_nav {
		display: flex;
		list-style: none;

		&-item {
			margin-right: 55px;
		}

		&-item:last-child {
			margin-right: 0;
		}

		&-link {
			font-family: $main_font;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 100%;
			text-decoration-line: underline;
			text-transform: uppercase;
			color: $primary_color;
			padding-bottom: 3px;
		}
	}

	&_made p {
		font-family: $main_font;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		color: #acacac;

		& span {
			color: red;
			font-size: 16px;
		}

		& a {
			color: $main_color;
		}
	}
}

// FOOTER END

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}

	.wrapper {
		width: 100%;
	}

	// HEADER START

	header {
		padding-top: 30px;
		& .menu {
			margin-bottom: 70px;
		}

		& .main {
			&_title-one {
				font-size: 130px;
				line-height: 100%;
			}

			&_caption {
				width: 300px;
				margin: -30px auto 0 auto;

				& .main_img {
					width: 300px;
				}
			}

			&_title-two {
				font-size: 110px;
				line-height: 100%;
			}
		}
	}

	// HEADER END

	// PROJECTS START

	.projects {
		& .project_block {
			justify-content: center;
			margin-bottom: 130px;

			& .block_left {
				width: 40%;
				margin-right: 50px;
			}

			& .block_right {
				width: 40%;
				margin-left: 50px;
				padding-top: 200px;
			}
		}

		& .single_project {
			position: relative;
			width: 90%;
			margin: 0 auto;
			height: 510px;
			margin-bottom: 150px;

			& .block_img {
				height: 100%;

				& img {
					height: 100%;
				}
			}
		}
	}

	// PROJECTS END

	// ABOUT START

	.about {
		width: 100%;
		height: auto;
		margin-bottom: 200px;

		&_left {
			width: 62%;
			padding: 21px 0;
		}

		&_right {
			position: relative;
			width: 38%;
			padding: 10px 0;

			& .about_large {
				width: 100%;
				height: 100%;
			}
		}

		&_title {
			width: 78%;
			margin-bottom: 37px;
		}

		&_title h1 {
			font-size: 30px;
		}

		&_text {
			width: 78%;
			padding-left: 35px;
		}

		&_text p {
			font-size: 14px;
		}
	}

	// ABOUT END

	// CONTACT START

	.contact {
		margin-bottom: 150px;

		&_title {
			font-size: 85px;
			line-height: 110%;
			margin-bottom: 50px;
			padding-bottom: 145px;
		}

		&_title::before {
			height: 110px;
		}

		& a {
			font-size: 25px;
			line-height: 30px;
		}
	}

	// CONTACT END
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.container {
		padding-right: 30px;
		padding-left: 30px;
	}

	// HEADER START

	header {
		padding-top: 30px;

		& .main_title-one {
			font-size: 130px;
			line-height: 100%;
		}

		& .main_title-two {
			font-size: 110px;
			line-height: 100%;
			text-align: center;
		}

		& .main {
			&_img {
				width: 250px;
				margin: -50px auto 0 auto;
			}
		}
	}

	// HEADER END

	// PROJECT START

	.projects {
		& .project_block {
			margin-bottom: 100px;

			& .block_left {
				margin-right: 20px;
			}

			& .block_right {
				margin-left: 20px;
				padding-top: 130px;
			}
		}

		& .single_project {
			margin-bottom: 100px;
		}

		& .block-title p {
			font-size: 10px;
		}
	}

	// PROJECT END

	// QUOTE START

	.quote {
		height: 450px;
		margin: 150px 0;
		padding-top: 50px;

		&_text {
			font-size: 10px;
			margin-bottom: 15px;
		}

		&_title {
			font-size: 57px;
			margin-bottom: 15px;
		}
	}

	// QUOTE END

	// ABOUT START

	.about {
		margin-bottom: 150px;

		&_left {
			width: 62%;
			padding: 21px 0;
		}

		&_right {
			position: relative;
			width: 38%;

			& .about_large {
				width: 100%;
			}

			& .about_img {
				width: 40%;
				bottom: 15%;
				left: -25%;

				& img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&_title {
			width: 78%;
			margin-bottom: 30px;
		}

		&_title h1 {
			font-size: 25px;
		}

		&_text {
			width: 78%;
			padding-left: 0;
		}

		&_text p {
			font-size: 13px;
			margin-bottom: 11px;
		}
	}

	// ABOUT END

	// CONTACT START

	.contact {
		margin-bottom: 100px;
		text-align: center;

		&_title {
			font-size: 60px;
			margin-bottom: 27px;
			padding-bottom: 120px;
		}

		&_title::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 100px;
			left: 50%;
			bottom: 0;
			background-color: $main_color;
			transform: rotate(20deg);
		}

		& a {
			font-size: 20px;
			line-height: 20px;
		}
	}

	// CONTACT END

	// FOOTER START

	.footer {
		&_copy p {
			font-size: 10px;
		}

		&_nav {
			&-item {
				margin-right: 30px;
			}

			&-link {
				font-size: 10px;
			}
		}

		&_made p {
			font-size: 10px;
			line-height: 10px;

			& span {
				color: red;
				font-size: 16px;
			}
		}
	}

	// FOOTER END
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
	// HEADER START

	header {
		padding-top: 30px;

		& .main_title-one {
			font-size: 130px;
			line-height: 100%;
		}

		& .main_title-two {
			font-size: 110px;
			line-height: 100%;
			text-align: center;
		}

		& .main {
			&_img {
				width: 250px;
				margin: -50px auto 0 auto;
			}
		}
	}

	// HEADER END

	// PROJECT START

	.projects {
		& .project_block {
			margin-bottom: 100px;

			& .block_left {
				margin-right: 20px;
			}

			& .block_right {
				margin-left: 20px;
				padding-top: 130px;
			}
		}

		& .single_project {
			margin-bottom: 100px;
		}

		& .block-title p {
			font-size: 10px;
		}
	}

	// PROJECT END

	// QUOTE START

	.quote {
		height: 450px;
		margin: 150px 0;
		padding-top: 50px;

		&_text {
			font-size: 10px;
			margin-bottom: 15px;
		}

		&_title {
			font-size: 57px;
			margin-bottom: 15px;
		}
	}

	// QUOTE END

	// ABOUT START

	.about {
		margin-bottom: 150px;

		&_left {
			width: 62%;
			padding: 21px 0;
		}

		&_right {
			position: relative;
			width: 38%;

			& .about_large {
				width: 100%;
			}

			& .about_img {
				width: 40%;
				bottom: 15%;
				left: -25%;

				& img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&_title {
			width: 78%;
			margin-bottom: 30px;
		}

		&_title h1 {
			font-size: 25px;
		}

		&_text {
			width: 78%;
			padding-left: 0;
		}

		&_text p {
			font-size: 13px;
			margin-bottom: 11px;
		}
	}

	// ABOUT END

	// CONTACT START

	.contact {
		margin-bottom: 100px;
		text-align: center;

		&_title {
			font-size: 60px;
			margin-bottom: 27px;
			padding-bottom: 120px;
		}

		&_title::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 100px;
			left: 50%;
			bottom: 0;
			background-color: $main_color;
			transform: rotate(20deg);
		}

		& a {
			font-size: 20px;
			line-height: 20px;
		}
	}

	// CONTACT END

	// FOOTER START

	.footer {
		&_copy p {
			font-size: 10px;
		}

		&_nav {
			&-item {
				margin-right: 30px;
			}

			&-link {
				font-size: 10px;
			}
		}

		&_made p {
			font-size: 10px;
			line-height: 10px;

			& span {
				color: red;
				font-size: 16px;
			}
		}
	}

	// FOOTER END
}

@media only screen and (max-width: 576px) {
	.container {
		padding-right: 0;
		padding-left: 0;
	}

	.cursor {
		display: none;
	}

	.cursor-follower {
		display: none;
	}

	// HEADER START

	header {
		padding-top: 30px;

		& .menu {
			display: none;
		}

		& .mobile_menu {
			display: flex;
		}

		& .main_title-one {
			font-size: 70px;
			line-height: 100%;
		}

		& .main_title-two {
			font-size: 60px;
			line-height: 100%;
			text-align: center;
		}

		& .main {
			width: 100%;

			&_caption {
				width: 100%;
			}

			&_img {
				width: 150px !important;
				margin: -20px auto 0 auto !important;

				& p {
					width: 190px;
					transform: translateX(-12%);
					font-size: 10px;
					line-height: 100%;
				}
			}
		}
	}

	// HEADER END

	// PROJECTS START

	.projects {
		padding: 0 10px;

		& .project_block {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;

			& .block_left {
				width: 100%;
				margin-right: 0;
				margin-bottom: 50px;
			}

			& .block_right {
				width: 100%;
				margin-left: 0;
				padding-top: 0;
				display: flex;
				flex-direction: column-reverse;

				& .block_title {
					text-align: left;
				}
			}
		}

		& .single_project {
			position: relative;
			height: auto;
			margin-bottom: 30px;
		}

		& .block_title p {
			font-size: 10px;
		}
	}

	// PROJECTS END

	// QUOTE START

	.quote {
		height: 100vh;
		margin: 100px 0;
		padding-top: 100px;

		&_text {
			font-size: 10px;
			margin-bottom: 25px;
		}

		&_title {
			font-size: 42px;
			margin-bottom: 20px;
		}
	}

	// QUOTE END

	// ABOUT START

	.about {
		display: flex;
		margin-bottom: 100px;
		padding: 0 10px;

		&_left {
			width: 100%;
			padding: 0;
		}

		&_right {
			display: none;
		}

		&_title {
			width: 100%;
			margin-bottom: 30px;
		}

		&_title h1 {
			font-size: 30px;
			line-height: 120%;
		}

		&_text {
			width: 100%;
			padding-left: 0;
		}

		&_text p {
			font-size: 14px;
			line-height: 125%;
			margin-bottom: 10px;
		}
	}

	// ABOUT END

	// CONTACT START

	.contact {
		margin-bottom: 70px;
		text-align: center;

		&_title {
			font-size: 30px;
			color: $main_color;
			margin-bottom: 20px;
			padding-bottom: 90px;

			& span {
				font-family: $primary_font;
			}
		}

		&_title::before {
			height: 70px;
		}

		& a {
			font-size: 16px;
			line-height: 16px;
		}
	}

	// CONTACT END

	// FOOTER START

	.footer {
		position: relative;
		display: block;
		padding: 0 10px;
		height: 50px;

		&_copy {
			position: absolute;
			float: left;
			bottom: 0;
		}

		&_copy p {
			font-size: 10px;
		}

		&_nav {
			float: left;
			display: flex;
			list-style: none;
			margin-bottom: 20px;

			&-item {
				margin-right: 30px;
			}

			&-item:last-child {
				margin-right: 0;
			}

			&-link {
				font-size: 10px;
			}
		}

		&_made {
			float: right;
		}

		&_made p {
			width: 85px;
			font-family: $main_font;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 10px;
			text-transform: uppercase;
			color: #acacac;

			& span {
				color: red;
				font-size: 16px;
			}

			& a {
				color: $main_color;
			}
		}
	}

	// FOOTER END
}

// ---------------------------- PROJECT - PAGE - START ---------------------------------

.project_page {
	// HEADER START

	& header {
		position: relative;
		width: 100%;
		height: 100vh;
		margin-bottom: 200px;

		& .menu {
			position: absolute;
			top: 30px;

			& .nav_link {
				color: #fff;
			}
		}

		& .mobile_menu {
			position: absolute;
			top: 30px;
			padding: 0 10px;

			& .link {
				color: #fff;
			}

			& .link::before {
				background-color: #fff;
			}

			& .burger_btn::after,
			& .burger_btn::before {
				background-color: #fff;
			}
		}

		& .mobile_nav {
			width: 100%;
			height: 100vh;
			position: fixed;
			background-color: #fff;

			&-item {
				margin-bottom: 30px;
			}

			&-link {
				font-family: $primary_font;
				font-style: italic;
				font-weight: normal;
				font-size: 30px;
				line-height: 120%;
				color: $primary_color;
			}
		}

		& .main {
			width: auto;
			position: absolute;
			bottom: 20%;

			&_title-one {
				color: #fff;
				font-size: 150px;
				& spann {
					font-family: $main_font;
				}
			}

			&_subtitle {
				width: 100%;
				display: flex;
				justify-content: space-between;

				& p {
					font-family: $main_font;
					font-style: normal;
					font-weight: normal;
					font-size: 13px;
					line-height: 100%;
					text-transform: uppercase;
					color: #ffffff;
					margin-top: 20px;
				}
			}
		}
	}

	// HEADER END

	// PROJECTS START

	& .projects {
		& .project_block-one {
			& .block_left {
				margin-right: 0;
			}

			& .block_right {
				margin-left: -100px;
				padding-top: 400px;
			}
		}

		& .project_block-two {
			& .block_right {
				padding-top: 0;
			}
		}

		& .project_block-three {
			justify-content: center;

			& .block_left {
				margin-right: 0;
			}
		}

		& .project_block-six {
			& .block_right {
				padding-top: 200px;
				padding-left: 120px;
				& .block_img {
					width: 55%;
				}
			}
		}
	}

	& .single_project {
		position: relative;
		width: 100%;
		height: 800px;
		margin: 200px 0;

		& .block_img {
			width: 100%;
			overflow: hidden;
			visibility: hidden;

			& .img_overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 2;
			}

			& img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	// PROJECTS END

	// FOOTER START

	& .footer {
		position: relative;
		display: block;
		margin-top: 300px;
		margin-bottom: 0;
		text-align: center;
		z-index: 1;

		& .next_link {
			margin-bottom: 90px;
			z-index: 1;

			& a {
				font-family: $main_font;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				text-align: center;
				text-transform: uppercase;
				color: $main_color;
				text-decoration: none;
			}
		}

		.footer_title {
			z-index: 4;

			& h1 {
				font-family: $main_font;
				font-style: italic;
				font-weight: normal;
				font-size: 157px;
				line-height: 100%;
				text-align: center;
				text-transform: uppercase;
				color: $main_color;
				& span {
					font-family: $primary_font;
				}
			}
		}
		.footer_img {
			position: relative;
			margin-top: -55px;
			width: 100%;
			z-index: -1;
			overflow: hidden;
			visibility: hidden;

			& .img_overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				z-index: 2;
			}

			& img {
				width: 100%;
				object-fit: cover;
			}
		}
	}

	// FOOTER END
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
	.project_page {
		// HEADER START

		& header {
			margin-bottom: 150px;

			& .main {
				bottom: 25%;

				&_title-one {
					font-size: 130px;
				}
			}
		}

		// HEADER END

		// PROJECTS START

		& .projects {
			& .project_block-one {
				& .block_left {
					margin-right: 0;
				}

				& .block_right {
					margin-left: -100px;
					padding-top: 300px;
				}
			}

			& .project_block-six {
				& .block_right {
					padding-top: 150px;
					padding-left: 100px;
					& .block_img {
						width: 55%;
					}
				}
			}
		}

		& .single_project {
			width: 100%;
			height: 800px;
			margin: 150px 0;
		}
		// PROJECTS END

		// FOOTER START

		& .footer {
			margin-top: 200px;

			& .next_link {
				margin-bottom: 70px;
			}

			.footer_title {
				z-index: 4;

				& h1 {
					font-size: 130px;
				}
			}
		}

		// FOOTER END
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.project_page {
		// HEADER START

		& header {
			margin-bottom: 100px;

			& .main {
				bottom: 30%;

				&_title-one {
					font-size: 100px;
				}

				&_subtitle {
					font-size: 13px;
				}
			}
		}

		// HEADER END

		// PROJECTS START

		& .projects {
			& .project_block-one {
				& .block_left {
					margin-right: 0;
				}

				& .block_right {
					margin-left: -70px;
					padding-top: 200px;
				}
			}

			& .project_block-six {
				& .block_right {
					padding-top: 85px;
					padding-left: 60px;
					& .block_img {
						width: 55%;
					}
				}
			}
		}

		& .single_project {
			width: 100%;
			height: 800px;
			margin: 100px 0;
		}
		// PROJECTS END

		// FOOTER START

		& .footer {
			margin-top: 150px;

			& .next_link {
				margin-bottom: 50px;
			}

			.footer_title {
				& h1 {
					font-size: 100px;
				}
			}
			.footer_img {
				margin-top: -55px;
			}
		}

		// FOOTER END
	}
}
@media only screen and (min-width: 576px) and (max-width: 769px) {
	.project_page {
		// HEADER START

		& header {
			margin-bottom: 100px;

			& .main {
				bottom: 20%;

				&_title-one {
					font-size: 100px;
				}

				&_subtitle {
					font-size: 13px;
				}
			}
		}

		// HEADER END

		// PROJECTS START

		& .projects {
			& .project_block-one {
				& .block_left {
					margin-right: 0;
				}

				& .block_right {
					margin-left: -70px;
					padding-top: 200px;
				}
			}

			& .project_block-six {
				& .block_right {
					padding-top: 85px;
					padding-left: 60px;
					& .block_img {
						width: 55%;
					}
				}
			}
		}

		& .single_project {
			width: 100%;
			height: 800px;
			margin: 100px 0;
		}
		// PROJECTS END

		// FOOTER START

		& .footer {
			margin-top: 150px;

			& .next_link {
				margin-bottom: 50px;
			}

			.footer_title {
				& h1 {
					font-size: 100px;
				}
			}
			.footer_img {
				margin-top: -55px;
			}
		}

		// FOOTER END
	}
}

@media only screen and (max-width: 576px) {
	.project_page {
		// HEADER START

		& header {
			margin-bottom: 44px;

			& .main {
				bottom: 30%;

				&_title-one {
					font-size: 50px;
				}

				&_subtitle {
					font-size: 10px;
					line-height: 10px;
				}
			}
		}

		// HEADER END

		// PROJECTS START

		& .projects {
			& .project_block-one {
				& .block_left {
					margin-right: 0;
				}

				& .block_right {
					margin-left: 0;
					padding-top: 0;
				}
			}

			& .project_block-two {
				& .block_right {
					padding-top: 0;
				}
			}

			& .project_block-three {
				justify-content: center;

				& .block_left {
					margin-right: 0;
				}
			}

			& .project_block-six {
				& .block_right {
					padding-top: 0;
					padding-left: 0;
					& .block_img {
						width: 100%;
					}
				}
			}
		}

		& .single_project {
			width: 100%;
			height: auto;
			margin: 50px 0;
		}
		// PROJECTS END

		// FOOTER START

		& .footer {
			height: auto;
			margin-top: 100px;
			padding: 0;

			& .next_link {
				margin-bottom: 25px;

				& a {
					font-size: 10px;
					line-height: 10px;
				}
			}

			.footer_title {
				& h1 {
					font-size: 44px;
				}
			}
			.footer_img {
				margin-top: -15px;
				height: 250px;

				& img {
					height: 100%;
				}
			}
		}

		// FOOTER END
	}
}
